

@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

//trish: animation

* {box-sizing: border-box;}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.word_wrapper {
  position: relative;
  display: block;
  min-width: 400px;
  width: 80vw;
  height: auto;
  padding: 5px;
  margin:  0 auto;
  margin-bottom: 20px;
  text-transform: uppercase;
  
  
}

.word {
  font-family: "Signika Negative", sans-serif;
  font-size: 4em;
  position: relative;
  left: 50%;
  vertical-align: center;
  transform: translate(-50%, 0);
  color: #26b6ad;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
  
  > h1 {
    font-size: 1.5em;
    filter: drop-shadow(0 1mm 0.1em rgba(0,0,0, 0.5));
    display: block;
  }

  &__one {
    transform: translate(-50%, 40%);
    animation-name: anim__one;
    z-index: -1;
  }

  &__two {
    color: #f02d3a;
    background-color: white;
  }
  &__three {
    transform: translate(-50%, -35%);
    animation-name: anim__three;
    z-index: -1; 
  }
  &__cursor {
    position: relative;
    width: 70px;
    left: 50%;
    padding-bottom: 50%;
    transform: rotateZ(-45deg) translateY(-200px);
    filter: drop-shadow(0 1mm 0.1em rgba(0,0,0, 0.5));
    animation-name: anim__cursor;
    padding: 0;
    margin: 0;

    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
    animation-duration: 0.5s;
    animation-delay: 1s;
  }
}

.hide {
  &__big {
    display: none;
  }
}

@keyframes anim__one {
  from {
    transform: translate(-50%, 40%);
  }
  to {
    transform: translate(-50%, 105%);
  }
}

@keyframes anim__three {
  from {
    transform: translate(-50%, -35%);
  }
  to {
    transform: translate(-50%, -105%);
  }
}

@keyframes anim__cursor {
  from {
    transform:rotateZ(-45deg) translateY(-200px);
  }
  to {
    transform: rotateZ(-45deg) translateY(-190px);
  }
}

@media screen and (min-width: 768px) {
  .code {
  &__trish {
  }
}
  .word_wrapper {
    position: relative;
    min-width: 700px;
    width: 300px;
    margin-bottom: 50px;
    cursor: pointer;
      .word {
        width: 100%;
      }
    }

  .hide {
    &__big {
      display: block;
    }
    &__small {
      display: none;
    }
  }
  
  .word__cursor {
    left: 60%;
    transform: rotateZ(-45deg) translateY(-200px);
  }
  
  @keyframes anim__cursor {
  from {
    transform: rotateZ(-45deg) translateY(-200px);
  }
  to {
    transform: rotateZ(-45deg) translateY(-190px);
  }
}
}

//trish: footer
.sponsor {
  width: 100%;
  max-width: 500px;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  //background-color: red;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(6, minmax(25px, 1fr));
  grid-template-areas:
    "a a b b c c"
    "d d d e e e";
  
    &__wrapper {
    display: block;
    position: relative;
    width: 70vw;
    height: 100px;
    margin: 0 auto;
  }
  
  &__img {
      > img {
        display: flex;
        align-items: center;
        width: 100%;  
        
    }
  }
}

.a {grid-area: a;}
.b {grid-area: b;}
.c {grid-area: c;}
.d {grid-area: d;}
.e {grid-area: e;}

.pied-de-page {
  display: flex;
  flex-direction: column;
  //position: fixed;
  left: 0;
bottom: 0;
  width: 100%;
  margin: 0;
  //background-color: blue;
  height: auto;
}

.footer {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px;
  margin-top: 20px;
  font-size: 17px;
  border-top: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #FF4747, #FFB65C, #FAFF70, #88FF70, #47F0FF,#5C9AFF,#8670FF,#FF85FF);

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
   }

    &__contact {
      > ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 225px;
     }
   }
  
    &__logo {
      > .logo {
        display: flex;
        align-self: center;
        //background-color: red;
        width: 120px;
        height: 120px;
        > img {
          width: 100%;
        }
      }
    }

    &__icone {
      display: grid;
      gap: 5px;
      grid-template-columns: repeat(5,1fr);
      display: flex;
      align-self: end;
      justify-content: center;
      margin-bottom: 0;
      margin-top: auto;
      > .icone {
        width: 40px;
        height: 40px;
        align-self: end;
        > a {
          display: block;
          width: 100%;
          height: 100%;
        }
    }
  }
}

.vimeo {
  background-color: black;
}
.ig {
  background-color: pink;
}
.fb {
  background-color: blue;
}
.yt {
  background-color: red;
}
.twt {
  background-color: lightblue;
}

.hide_above {
  display: none;
}


@media screen and (min-width: 768px) {
  .sponsor {
    grid-template-columns: repeat(7, minmax(50px, 1fr));
    grid-template-areas: "e e a b c d d";
    &__wrapper {
      width: 50vw;
    }
    
  }
  
  .e {transform: translateY(15%);}
  .d {transform: translateY(15%);}
}

@media screen and (max-width: 768px) {
  .footer {
    top: 25vw;
    text-align: center;
    &__wrapper {
      flex-direction: column;
      display: grid;
      gap: 40px;
      justify-content: center;
    }
    &__logo {
      margin: auto;
    }
    &__icone {
      align-self: center;
    }
  }
  
    .hide_above {
    display: block;
  }
      .hide_below {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    margin-top: 50px;
  } 
}

//angie

:root{
    --bg: white;
    --amaranth:#DD0426;
    --imperialred:#f02d3a;
    --spacecadet:#273043;
    --lighseagreen: #26b6ad;
    --basicblue: #3679E8;
    --title:'Signika Negative', sans-serif;
    --regular:'Yanone Kaffeesatz', sans-serif;
}


      body {
        background: --bg;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
      }

      .swiper {
        padding: 30px;
        width: 80%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        font-family: var(--title);
        color: var(--bg);
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        width: 250px;
        height: 250px;
        padding: 20px;
        border-radius: 40px;
        box-shadow: 2px 2px 5px rgb(189, 189, 189);
        transition-duration: 0.5s;
        transition-timing-function: ease;
        margin: 20px;
        cursor: pointer;
      }

      .gradient1{
        background-image: linear-gradient(#DD0426, #273043);
      }

      .gradient2{
        background-image: linear-gradient(#F02D34, #E0FC5C);
      }

      .gradient3{
        background-image: linear-gradient(#26b6ad, #ea89b2);
      }

.swiper-button{
  color: var(--bg);
  top: 40%;
  filter: drop-shadow(0 1mm 0.1em rgba(0,0,0, 0.2));

  
}

.swiper-slide:hover{
    transform: scale(1.1);
}

.nouvelles{
  position: relative;
  margin-bottom: 100px;
  display: flex;
  width: 100%;
}

.titres{
    justify-content: center;
    font-family: var(--title);
    color: var(--amaranth);
    text-transform: uppercase;
    margin-top: 30px;
    font-size: 4.5em;
    font-weight: bold;
    text-align: center;
  
}

.col { max-width: 450px;
margin: 30px;}

.card {
  filter: drop-shadow(0 1mm 0.1em rgba(0,0,0, 0.2));
  border-radius: 15px;
  height: 650px;
}

.card-body{
  text-align: center;
  font-family: var(--regular);
}


.card-title{
  font-size: 50px;
}

.card-text{
  font-size: 20px;
}

.card-img-top{
  border-radius: 140px;
  width: 250px;
  height: 250px;
  ;
}

.card-header{
  width: 100%;
  display: flex;
  justify-content: center;
}

.cardshadow1{
  filter: drop-shadow(0 1.5mm 0.1em var(--lighseagreen))
}

.cardshadow2{
  filter: drop-shadow(0 1.5mm 0.1em var(--amaranth))
}

.cardshadow3{
  filter: drop-shadow(0 1.5mm 0.1em var(--basicblue))
}

.row {
  
}
//